<!DOCTYPE html>
<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" href="/public/css/styles.css"/>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    </head>
    
    <body = "lo">   
            <div class="navbar">
              <a href="/">Home</a>
              <a href="/login">Login</a>
              <div class="dropdown">
                <button class="dropbtn">Inventory
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                        <a href="/lightsabers">Shop Lighstabers</a>
                        <a href="/newItem">Add New Item</a>
                        <a href="/updateItem">Update Item</a>
                </div>
              </div>
              <a href="/cart"><i class="fa fa-shopping-cart" style="color:yellow"></i></a>
            </div>
                <h1 >
                    <figure id="h1" >
                        <img src="https://fontmeme.com/permalink/200312/e3ac6f4df0a4deaaf01a1a140fb7df8d.png" alt="Picture Of Wizard King" style="width:800px;height:50px;" />
                    </figure>
                </h1>
            
            <br />
            <br>