<%- include ("../partials/header") %>
        
        <br>

        <main id="loginMain">
            <figure id="me" >
                <img src="https://img.playbuzz.com/image/upload/ar_1.5,c_pad,f_jpg,b_auto/q_auto:good,f_auto,fl_lossy,w_480,c_limit/cdn/ad093c27-86af-4c37-8400-774d48c87187/0a5333b4-86f2-4a82-983d-fe16c8f28db1_560_420.jpg" style="width:450px;height:350px;" />
            </figure>
            
            <form id= "createAccountForm" action='/createAccount' method = "POST"> 
                Username: <input type="text" name="username" placeholder="username" required/><br>
                Password: <input type="password" placeholder="password" name="password" required/><br><br>
                <button class="myButton">Create Account!</button>
            </form>
        </main>

        <form action="/logout">
            <button>Logout</button>
            
    
 <%- include ("../partials/footer") %>



















