<%- include ("../partials/header") %>

    <form id="searchQueryValues">    
    <h3>Filter Color:
        <select class="box" name="color"  id="colorSelector">
          <option value="yellow">Yellow</option>
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="silver">Silver</option>
          <option value="green"> Green</option>
          <option value="orange">Orange</option>
          <option value="chrome">Chrome</option>
        </select></h3>
        <h3>Filter Price
        <input type="number" id="price" name="price" min="0.00" step="1"></h3>
    </form> 
    <button class="btn btn-info btn-lg" id="filterSearch" value="submit">Submit</button>

    <div id="displaySearchResult">

    </div>
  
  <br><br>
  <h3>Products:</h3>
  <br>
    
    <div id="display_items">
      
    </div>
    
    
 <%- include ("../partials/footer") %>