<%- include ("../partials/header") %>

        <h1> Adding New Item </h1>
        

        <form action="/newItem" method="POST">
        <h2>

            <h3>Name: <input id="inputName" type="text" name="color"></h3><br>    
            <h3>Color: <input id="inputColor" type="text" name="color"></h3><br>    
            <h3>Price: <input id="inputPrice" type="text" name="price"></h3><br>
            <h3>Image Link:<input id="inputImageLink" type="text" name="link"></h3><br>
            <h3>:<input row="4" col="10" type="text" name="description" placeholer="enter description"></h3><br>
           
        
            <br><br>
            <button id="addItem">Add Item</button>
        
            <%= typeof(message) != "undefined"?message:"" %>
        </h2>
            
        </form> 
                <form action="/lightsabers">
          <h2><button> Back </button></h2>
        </form>

        <script type="text/javascript" src="../public/COVID.js"></script>
    </body>
</html>