<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>

        <h1> Adding New Item </h1>
        

        <form action="/newItem" method="POST">
        <h2>
            
            Color: <input type="text" name="color"><br>    
            Price: <input type="text" name="price"><br>
            Image Link:<input type="text" name="link"><br>
           
        
            <br><br>
            <button id="addItem">Add Item</button>
        
            <%= typeof(message) != "undefined"?message:"" %>
        </h2>
            
        </form> 
                <form action="/lightsabers">
          <h2><button> Back </button></h2>
        </form>

        <script type="text/javascript" src="../public/app.js"></script>
    </body>
</html>