<%- include ("../partials/header") %>

        <h1> Add A New Item </h1>
        
        <div style="text-align: center;">
           <span style="margin:auto; display:table; border:1px;">
                <img src="https://vignette.wikia.nocookie.net/starwars/images/e/eb/ArtooTFA2-Fathead.png/revision/latest/scale-to-width-down/500?cb=20161108040914" style="padding-left:10px;float:left;"> 
                <i style="float:left; padding-left:10px;"> 
                        <form action="/newItem" method="POST">
                            <h2>
                    
                                <h3>Color: <input id="inputColor" type="text" name="color"></h3><br>    
                                <h3>Price: <input id="inputPrice" type="text" name="price"></h3><br>
                                <h3>Image URL:<input id="inputImageLink" type="text" name="link"></h3><br>
                            
                                <br><br>
                                <button id="addItem" class="myButton">Add Item</button>
                            
                                <%= typeof(message) != "undefined"?message:"" %>
                            </h2>
                        </form> 
                </i>
                <img src="https://vignette.wikia.nocookie.net/starwars/images/3/3f/C-3PO_TLJ_Card_Trader_Award_Card.png/revision/latest/scale-to-width-down/243?cb=20180121052644" style="margin-left:10px;float:left;">
            </span>            
        </div>


<%- include ("../partials/footer") %>

