<%- include ("../partials/header") %>
	    
	    <main id="loginMain">
            <figure id="me" >
                <img src="https://www.yodaspeak.co.uk/yoda.png" />
            </figure>
            
            <form id= "createAccountForm" action='/createAccount' method = "POST"> 
                <h1>For your purchase thank you!  Hmmmmmm.</h1>
            </form>
        </main>
 <%- include ("../partials/footer") %>