<%- include ("../partials/header") %>

        <h1> Updating Item </h1>
         
        <!-- <h1> Enter new values below </h1> -->
        <form action="/updateItem" method="POST">
        <h2>
            
            Color: <input type="text" name="color"><br>    
            Price: <input type="text" name="price"><br>
            Image Link:<input type="text" name="link"><br>
            
            
            <br><br>
            <button id="UpdateCurrentItem">Update Item</button>
        
            <%= typeof(message) != "undefined"?message:"" %>
            
        </h2>
        </form>       
        <form action="/lightsabers">
          <h2><button id="back"> Back </button></h2>
        </form>

        <script type="text/javascript" src="../public/COVID.js"></script>
 <%- include ("../partials/footer") %>